<section class="black">
  <div class="container">
    <h1>Contact me</h1>

    <footer class="center">
      <ul class="list-inline">
        <li>
          <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope fa-3"></i>
          </a>
        </li>

        {% if site.github_username %}
        <li>
          <a class="unstyled" href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3"></i>
          </a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <a class="unstyled" href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter fa-3"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </footer>

    <h1>Support me</h1>

    <footer class="center">
      <ul class="list-inline">
        <li>
          <a href="https://flattr.com/submit/auto?fid=q2dywp&url=http%3A%2F%2Fhanspolo.net" target="_blank">
            <img src="//button.flattr.com/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0">
          </a>
        </li>

        <li>
          <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GN3N43VT8GRD4" target="_blank">
            <i class="fa fa-cc-paypal fa-2"></i>
          </a>
        </li>
      </ul>
    </footer>
  </div>
</div>
