footer {
  border-top: 1px solid $gray-lighter;
  margin-top: $line-height-computed;
}

body > .jumbotron:first-of-type {
  margin-top: $navbar-height;
}

.space-top {
  padding-top: $line-height-computed;
}

.space-bottom {
  padding-top: $line-height-computed;
}
